<a href="{% url 'suppliers:dashboard' %}" class="dropdown-item">
    <i class="fa fa-tachometer-alt me-2"></i> Dashboard
</a>
<a href="{% url 'suppliers:orders_list' %}" class="dropdown-item">
    <i class="fa fa-shopping-cart me-2"></i> Porositë
</a>
<a href="{% url 'suppliers:catalog_list' %}" class="dropdown-item">
    <i class="fa fa-list me-2"></i> Katalogu
</a>
<a href="{% url 'suppliers:delivery_list' %}" class="dropdown-item">
    <i class="fa fa-truck me-2"></i> Shpërndarjet
</a>
<a href="{% url 'suppliers:shop_list' %}" class="dropdown-item">
    <i class="fa fa-store me-2"></i> Klientët
</a>
<a href="{% url 'users:profile' %}" class="dropdown-item">
    <i class="fa fa-user me-2"></i> Profili
</a>
<a href="{% url 'users:logout' %}" class="dropdown-item">
    <i class="fa fa-sign-out-alt me-2"></i> Dilni
</a>