<a href="{% url 'suppliers:dashboard' %}" class="nav-link">
    <i class="fa fa-tachometer-alt me-1"></i> Dashboard
</a>
<a href="{% url 'suppliers:orders_list' %}" class="nav-link">
    <i class="fa fa-shopping-cart me-1"></i> Porositë
</a>
<a href="{% url 'suppliers:catalog_list' %}" class="nav-link">
    <i class="fa fa-list me-1"></i> Katalogu
</a>
<a href="{% url 'suppliers:delivery_list' %}" class="nav-link">
    <i class="fa fa-truck me-1"></i> Shpërndarjet
</a>
<a href="{% url 'suppliers:shop_list' %}" class="nav-link">
    <i class="fa fa-store me-1"></i> Klientët
</a>
<a href="{% url 'users:profile' %}" class="nav-link">
    <i class="fa fa-user me-1"></i> Profili
</a>
<a href="{% url 'users:logout' %}" class="nav-link">
    <i class="fa fa-sign-out-alt me-1"></i> Dilni
</a>