{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %} | Lidhje Biznesi{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h4 class="card-title mb-0">
                        <i class="fa fa-check-circle me-2"></i>{% trans "Password Reset Complete" %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <i class="fa fa-lock-open fa-4x text-success mb-3"></i>
                        <h5>{% trans "Your Password Has Been Set" %}</h5>
                    </div>
                    
                    <p class="card-text">
                        {% trans "Your password has been set. You may go ahead and log in now." %}
                    </p>
                    
                    <div class="d-grid gap-2 mt-4">
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            <i class="fa fa-sign-in-alt me-2"></i>{% trans "Log In" %}
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Account Security" %}</h5>
                    <p class="card-text">
                        {% trans "For your security, we recommend logging out of all devices after changing your password." %}
                    </p>
                    <p class="card-text">
                        {% trans "If you didn't request this password reset, please contact our support team immediately." %}
                    </p>
                    <a href="{% url 'common:contact' %}" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-envelope me-2"></i>{% trans "Contact Support" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
